@{
    ViewBag.Title = "About";
}


@*<div class="col-md-4">
    <div class="card card-profile">
        <div class="card-avatar align-content-center">
            <a href="#pablo">
                
                @*<img class="img" src="../assets/img/faces/marc.jpg" />
            </a>
        </div>
    </div>
</div>*@
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h3 class="card-title text-left text-uppercase">BEYOND FAIR TRADE SOURCED, ROASTED IN KANSAS CITY. We are here to provide jobs for our beloved baristas, roasters and coffee enthusiasts</h3>
                </div>
                <div class="card-body">
                    <h4>We create excellent, artisan-level roasts from the best coffees available while taking care of our coffee farmers in a way that goes above and beyond the status quo. We are head over heels for discovering new coffees, artfully coaxing out the best characteristics of the bean for you to enjoy. Messenger Coffee is beyond fair trade sourced and manually roasted in Kansas City.</h4>
                </div>
                <div class="card-header card-header-primary">
                    <h3 class="card-title text-center text-uppercase">CARRYING THE QUALITY OF THE FARM TO THE CAFE</h3>
                </div>
                <div class="card-body">
                    <h4>Our roasting is a collaboration between Kiersten, our head roaster, and the rest of our team as we work to have the best quality of coffee in our lineup. We roast on two fully manual San Franciscan drum roasters, and everything is still done by hand & by scent & by ear, listening to and smelling coffees at the production level and at the sample level when we are choosing coffees to add to the lineup: We sample and test hundreds of coffee crops per season in search of compelling new coffees, and then roast to highlight these flavors. We roast in smaller batches so we have a little bit more control over the outcome. We never force a coffee to be something that it's not meant to be - our farmers work hard to create great coffees - we are just the messengers.</h4>
                </div>
                <div class="card-header card-header-primary">
                    <h3 class="card-title text-right text-uppercase">EST. 2013</h3>
                </div>
                <div class="card-body">
                    <h4>Messenger was born out of a collaboration between three coffee companies with like minded people coming together to create a Kansas City coffee company focused on great coffee and good relationships. We're huge on cafe relationships, and we're big on respecting and improving coffee quality at the farm. Over the years we've moved warehouses a couple of times, growing slowly while making sure the cafes and farmers we work with are treated well and the coffee quality stays high. Come visit us in our landmark headquarters space at 1624 Grand Blvd., in the Cross Roads Art District in downtown Kansas City!</h4>
                </div>

            </div>
        </div>
    </div>
</div>
