

@{
    
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-success">
                        @*<div class="ct-chart" id="dailySalesChart"></div>*@
                        <a href="@Url.Action("Index","OpenPositions")">
                            <img class="img-index" src="~/Content/Images/Site/MidtownFS.jpg" />
                        </a>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Food Preps Needed</h4>
                        <p class="card-category">
                            <span class="text-success"> Urgent Need! </span> Click the image to apply
                        </p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> updated 4 minutes ago
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-warning">
                        @*<div class="ct-chart" id="websiteViewsChart"></div>*@
                        <a href="@Url.Action("Index","OpenPositions")">
                            <img class="img-index" src="~/Content/Images/Site/MissionFS.jpg" />
                        </a>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Various Openings!</h4>
                        <p class="card-category">Click the image to apply</p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> 1 days ago
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-danger">
                        @*<div class="ct-chart" id="completedTasksChart"></div>*@
                        <a href="@Url.Action("Index","OpenPositions")">
                            <img class="img-index" src="~/Content/Images/Site/WestportFS.jpg" />
                        </a>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">New Barista Positions!</h4>
                        <p class="card-category">Click the image to apply</p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> 2 days ago
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>